# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment variables
.env
.env.*   # except .env.example

# Coverage and test output
coverage/
.nyc_output/

# IDE files
.vscode/
.idea/

# Build output
dist/
build/

# Misc cache files
.cache/
.eslintcache
.stylelintcache

# Optional
*.tgz
